
:root{
    --back:#131722;

    --text:#FFFFFF;
    --labelInput:#FFFFFF;

    --backInput:rgba(103, 58, 183, 0.3);
    --borderValidBtn:#8BC34A;
    --borderInvalidBtn:#B92326;
    --borderTextBtn:#673AB7;
    --backBtn:rgba(103, 58, 183, 0.2);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background: url(./backImgP.png);
    width: 100vw;
    height: 100vh;

}

.btc{
    
    fill: hsla(36, 100%, 50%, 0.603);
    
}

.containerForm{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;

    
}

.textR{
    width: 70%;
    color: gray;
    text-align: center;
}



.formCont{
    display: flex;
    flex-direction: column;
    gap: 30px ;
}

.containerFullName,
.containerPassword,
.containerContact{
    display: flex;
    gap: 10px;
    
}


label{
    color: var(--text);
    display: none;
}

input[required],.confirmPass{
    border-style: none;
    background-color: var(--backInput);
    padding: 0 0 0 10px;
    color: var(--text);
}

input[type=text],
input[type=password]{
    width: 170px;
    height: 50px;
}
input[type=email]{
    width: 210px;
    height: 50px;
    
}

.containerBtn{
    margin: auto;
}

input[type=tel]{
    width: 130px;
    height: 50px;
    
}

button[type=submit]{
    background-color: transparent;
    border-style: solid;
    border-color: var(--borderTextBtn);
    width: 200px;
    height: 40px;
    color: var(--borderTextBtn);
}

button[type=submit]:hover{
    background-color:var(--backBtn) ;
}

input,button[type=submit]{
    border-radius: 10px;
    transition: all .3s ease-in-out;
 
}

input[required]:focus:valid{
    outline: 2px solid var(--borderValidBtn);
}

input[required]:focus:invalid{
    outline: 2px solid gray;

}

input[required]:invalid{
    outline: 2px solid var(--borderInvalidBtn);

}

input[required]:valid{
    outline: 2px solid var(--borderValidBtn);

}

input[required]:placeholder-shown{
    outline: 2px solid transparent ;
}
:focus{
    outline: 1px solid transparent;
    
}

.confirmPass{
    outline: 2px solid transparent;
}

.equalPass{
    outline: 2px solid var(--borderValidBtn);
}

.diffPass{
    outline: 2px solid var(--borderInvalidBtn);
}

.diffPass:focus{
    outline: 2px solid gray;
}



